.correct {
  background-color: rgba(11, 92, 11, 0.418);
}

.incorrect {
  background-color: rgba(180, 1, 1, 0.377);
}

#quizBody {
  background-image: url("assets/images/jazzBoys.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}