.hallOfFameColumn {
  padding-left: 3rem;
  padding-right: 3rem;
}

.correct {
  background-color: rgba(11, 92, 11, 0.418);
}

.incorrect {
  background-color: rgba(180, 1, 1, 0.377);
}

#quizBody {
  background-image: url("assets/images/jazzBoys.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#quiz {
  position: absolute;
  top: 10rem;
  width: 140px; 
  height: 140px; 
  border-radius: 70px; 
  font-size: 30px; 
  text-align: center; 
  border-width: 0px;
}